.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full screen height */
  background-color: #f0f2f5; /* Optional: light background */
  padding: 20px; 
}

.divided{
  display: flex;
  gap: 10px;
}
.divided div{
  flex-grow: 1;
}

.register-form {
  max-width: 450px;
  min-width: 420px;
  margin: 40px auto;
  padding: 30px 25px;
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.Input-group {
  margin-bottom: 20px; 
  position: relative;
}

.register-page .Input-field {
  width: 100%;
  padding: 12px 15px; 
  border: 1px solid #bbbaba; 
  border-radius: 6px; 
  font-size: 16px; 
  background: #fff; 
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05); 
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}


.Input-field:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}


select.Input-field {
  height: 44px; 
  appearance: none;
  background: #fff url('data:image/svg+xml;utf8,<svg fill="gray" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 15px center;
  padding-right: 40px; 
}


.Input-field:hover {
  border-color: #aaa;
}


.error {
  color: #d32f2f; 
  font-size: 12px;
  position: absolute;
  bottom: -18px;
  left: 5px;
  font-style: italic;
}

.step-buttons{
  display: flex;
  gap: 5px;
}


.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.signup-btn:first-child{
  background-color: gray;
}

.signup-btn:hover {
  background-color: #0056b3;
}


.tagline {
  text-align: center;
  color: #555;
  margin-bottom: 25px;
  font-size: 14px;
}
 
.sidebar-items{
  display: flex;
  text-decoration: none;
  flex-direction: column;
  color: #f8f6f8;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  width: 100%;
  
}


