.body{
  padding: 0;
  margin: 0;
}
.dashhead{
  background-color: rgba(86, 75, 241, 0.699);
  height: 50px;
  font-size: 30px;
  padding: 20px 8px 8px 30px;
  left:0;
  margin:0cm;
  border: 0cm;
  width: 100%;
  left:0;
  top:0;

}

.menu-bars{
  background-color: rgb(85, 126, 238);
  margin-left: 0cm;
  font-size:30px;
  width:250px;
  height: 800px;
  display:flex;
  justify-content: center;
  position: absolute;
  left:2;


}
.active-dashboard{
  background-color: rgb(50, 144, 151);
  margin-left: 0cm;
  font-size:30px;
  width:250px;
  height: 800px;
  display:flex;
  justify-content: center;
  position: absolute;
  left:2;
  transition: 650ms;
  transform: translateX(0);

}

.closed-dashboard{
  background-color: rgb(50, 144, 151);
  margin-left: 0cm;
  font-size:30px;
  width:250px;
  height: 800px;
  display:flex;
  justify-content: center;
  transform: translateX(-100%);
  position: fixed;
  left:-100%;
  transition: 850ms;
  


}
.items{
  list-style: none;
  height: 60px;
  display: flex;
  flex-direction: column;
  padding:8px 0px 8px 16px;
  gap:50px;
  border-radius: 5px;

}
.items a{
  display: flex;
  text-decoration: none;
  color: #f8f6f8;
  font-size: 30px;
  padding: 10px;
  width: 100%;

}
.items  :hover{
  background-color: rgb(78, 27, 99);
}