.Dashboard-main{
    display: flex;
    height: 100vh;
    position: relative;
  
}

.content{
    margin-left: 200px;
    padding-top: 10px;
    transition: margin-left 0.3s ease;
    width: calc(100%-200px); 
    height: 100%;
}
.dashboard{
    display :flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
}