
.student-form{ 
  border: 1px solid rgb(120, 229, 243);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(150, 176, 248);
  width:400px;
  right:5px;
}
.image{
  align-items:left;
  display: flex;
  justify-content:flex-end;
  max-width: 800px;
  height:100%;
  float:right;
  top:50px;
}