.content{
  display: flex;
  padding-top: 70px;
  flex-grow:1;
  margin-left:250px;
  padding:20px;
  transition: margin-left 0.3 ease-in-out;
}
.content-file{
  display: flex;
  flex-grow:1;
  margin-left:400px;
  padding:20px;
  transition: margin-left 0.3 ease-in-out;
  flex-direction: column;
  gap:10px;
  border: 1px solid rgb(172, 251, 253);
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 5px;
  max-width: 350px;
  max-height: 1000px;
  text-align: center;
  align-items: center;
  box-shadow: 5px  5px 5px rgb(155, 153, 153);
}


.closed-dashboard+.content{
  margin-left: 0;
}

.content-home{
  display: flex;
  flex-grow:1;
  margin-left:250px;
  padding:20px;
  transition: margin-left 0.3 ease-in-out;
 
  

}
#boxes{
  display: grid;
  grid-template-columns: repeat(1fr 1fr);
  grid-template-rows: 1fr 1fr;
  background-color:rgb(201, 255, 243);
  gap: 5px;
  
}
#boxes div{
  padding: 20px;
  text-align: center;
  border: 2px  solid rgb(195, 90, 205);
  border-radius: 5px;
  background-color: plum;
}
#boxes div:nth-child(3){
  grid-column: 2;
  grid-row: 1/span 2;
  width: 300px;
  height: 700px;
}
#boxes div:nth-child(2){
  width: 300px;
  height: 300px;
}
#boxes div:nth-child(1){
  width: 300px;
  height: 200px;
}