.content{
  display: flex;
  padding-top: 70px;
  flex-grow:1;
  margin-left:250px;
  padding:20px;
  transition: margin-left 0.3 ease-in-out;
}
.content-file{
  display: flex;
  flex-grow:1;
  margin-left:400px;
  padding:20px;
  transition: margin-left 0.3 ease-in-out;
  flex-direction: column;
  gap:10px;
  border: 1px solid rgb(172, 251, 253);
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 5px;
  max-width: 350px;
  max-height: 1000px;
  text-align: center;
  align-items: center;
  box-shadow: 5px  5px 5px rgb(155, 153, 153);
}


.closed-dashboard+.content{
  margin-left: 0;
}

.content-home{
  display: flex;
  flex-grow:1;
  margin-left:250px;
  padding:20px;
  transition: margin-left 0.3 ease-in-out;
}
.sidebar{
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right:5px;
  width:400px;
  height: 100%;
  top: 70px;;
}