.content{
  display: flex;
  flex-grow:1;
  margin-left:250px;
  padding:20px;
  transition: margin-left 0.3 ease-in-out;
  transition: 650ms;
  flex-direction: column;
}
.content-file{
  display: flex;
  margin-left:250px;
  padding:20px;
  flex-direction: column;
  border: 1px solid rgb(172, 251, 253);
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 5px;
  width: 350px;
  height: 800px;
  text-align: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: 100px;

}
.issuebox{
  width:280px;
  height:100px;
  border-radius:5px;
  border: none;
  display:flex;
  justify-self: start;

}


.closed-dashboard+.content{
  margin-left: 0;
}

.content-home{
  display: flex;
  flex-direction: column;
  flex-grow:1;
 margin-top: 100px;
  padding:20px;
  transition: margin-left 0.3 ease-in-out;
  transition: 650ms;
  background-image: url("../../assets/study-group-african-people.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-message{
  font-size: 3rem;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out infinite alternate;
    color: white;
    margin: 0;
    z-index: 10;
    display: flex;
    margin-left: 200px;
    margin-bottom: 80px;
}
.message2{
    font-size: 1rem;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out infinite alternate;
    color: white;
    font-style: italic;
    bottom: 0;
    text-align: center;
    line-height: 1.5; 
    word-wrap: break-word; 
  white-space: normal;
  line-height: 1.5; 
  width: 70%; 
  margin: 0 auto; 
  overflow-wrap: break-word; 

    
}
.sidebar{
  display: flex;
  flex-grow:1;
  background-color: white;
  color:black;
  justify-content: center;
  margin-right:70%;
  position:absolute;
  right:5px;
  border-radius: 30px;
  width:400px;
  height: 100%;
  top: 70px;;
}
.content-profile{
  padding:20px;
  flex-direction: column;
  border: 1px solid rgb(172, 251, 253);
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 5px;
  width: 350px;
  height: 800px;
  text-align: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: 10px;

}

.notifications{
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 30px;
  width:300px;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  

}
.notificationslist{
  list-style-type: none;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding:8px 0px 8px 16px;
  gap:0px;
}
.noty{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border:1px solid rgb(224, 232, 236) ;
  background-color: rgb(223, 245, 248);
  width:250px;
  height:55px;
  padding: 10px;
  margin-top: 20px;
}
.noty :hover{
  cursor: pointer;
  transform: scale(1.05); 
}
.actualmessage{
  background-color: wheat;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 30px;
  display: flex;
  position: absolute;
  right:10px;
  width:550px;
  height: 100%;
}

.openedmessage{
  margin-top: 20px;
  padding: 20px;
  
}
.sender{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
.time{
  font-size: 12px;
  color: gray;
  font-style: italic;

}