body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color:rgb(185, 252, 237);
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    height:100hv; 
}

div{
  flex-grow: 1;
  display:block;
  align-items: center;
  flex-direction: column

}

.Login{
  
  text-align: left;
  display:flex;
  align-items: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
 
}


